/* global */

a {
	color:#f26459;
	text-decoration: underline;
}

a:hover {
  color:#f26459;
  text-decoration: underline;
}

a:active {
  color:#f26459;
  text-decoration: underline;
}

a:visited {
  color:#f26459;
  text-decoration: underline;
}

p {
    font-size:18px;
}


.center {
    text-align:center;
}

body {
	background-color:#f26459;
	background-image: linear-gradient(hsla(0,0%,100%,.15) 1px,transparent 0),linear-gradient(90deg,hsla(0,0%,100%,.15) 1px,transparent 0);
	background-size: 88px 88px,88px 88px;
}

.segment {
	background-color:white;
	border-radius:20px;
	margin-top:15px;
	margin-bottom:15px;
}

.sectiontitle {
	padding-left:20px;
	padding-top:10px;
	
}

.sectiontitle p {
	font-size:2.5em;
}

/* info */

#infopage {
	background-color:#fff;
	margin-top:60px;
	border-radius:10px;
	padding:20px;
}

#menulist {
	
}


.info_image{
	max-width:100%;
	display: block;
	margin: 0 auto;
}

.infocaption {
	color:#999;
	font-size:1em;
	margin-top:10px;
}

code {
	white-space: normal;
}

/* front page */

#datachooser {
	background-color:#fff;
	margin-top:60px;
	border-radius:10px;
	padding:20px;
}

#frontinstructions {
	margin-top:15px;
	margin-bottom:30px;
}

.salespoint {
	margin-bottom:10px;
}

.subtext {
	font-size:1em;
	margin-top:10px;
}

p.highlighttitle{
	margin-top:20px;
	color:#f26459;
	font-weight:800;
}

#dashboard_examples {
	width:70%;
	margin-top:30px;
}

.frontpagebuttons {
	margin-top:40px;
	margin-bottom:40px;
}

.hxlbutton {
	background-color: #f26459;
	color:#ffffff;
	margin-left:20px;
	margin-right:20px;
}

@media only screen and (max-width: 600px){
	#dashboard_examples {
		width:100%;
	}
}

/* */
/* maker */


/* data section */

#status {
	min-height:300px;
}

.greencheck {
	background-color:green;
	height:40px;
	width:40px;
	border-radius:20px;
	padding-left:5px;
	padding-top:10px;
  	margin: 0 auto;
}

.greencheck .icon {
	color:white;
}

.edit .icon {
	cursor:pointer;
}

/* layout picker */

.layout {
	padding:30px;
}

#layoutedit {
	padding-left:20px;
}

#styleedit {
	padding-left:20px;
}

#layoutsegmentcontent .grid {
	border: 1px solid #999;
	border-radius:5px;
	padding:5px;
	cursor:pointer;	
}

#layoutsegmentcontent .whole {
	height:160px;
	background-color:#999;
	background-clip: content-box;
	padding-top:8px;
	padding-left:5px;
	padding-right:5px;
}

#layoutsegmentcontent .half {
	height:80px;
	background-color:#999;
	background-clip: content-box;
	padding-top:8px;
	padding-left:5px;
	padding-right:5px;
}

#layoutsegmentcontent .quarter {
	height:40px;
	background-color:#999;
	background-clip: content-box;
	padding-top:8px;
	padding-left:5px;
	padding-right:5px;
}

#layoutsegmentcontent .threequarter {
	height:120px;
	background-color:#999;
	background-clip: content-box;
	padding-top:8px;
	padding-left:5px;
	padding-right:5px;
}

#dashboardlayout .grid {
	border: 1px solid #eee;
	border-radius:5px;
	padding:5px;
}

#dashboardlayout .whole {
	height:640px;
	background-color:#eee;
	background-clip: content-box;
	padding-top:8px;
	padding-left:5px;
	padding-right:5px;
}

#dashboardlayout .half {
	height:320px;
	background-color:#eee;
	background-clip: content-box;
	padding-top:8px;
	padding-left:5px;
	padding-right:5px;
}

#dashboardlayout .quarter {
	height:160px;
	background-color:#eee;
	background-clip: content-box;
	padding-top:8px;
	padding-left:5px;
	padding-right:5px;
}

#dashboardlayout .threequarter {
	height:480px;
	background-color:#eee;
	background-clip: content-box;
	padding-top:8px;
	padding-left:5px;
	padding-right:5px;
}

/* content picker */

.pickrow {
	margin-bottom:50px;
}

/* create */

.create-text {
	padding-top:20px;
	font-size:1.5em;
}

.plusicon {
	color:#999;
	cursor:pointer;
}

#filterplus {
	padding-left:20px;
}

#headlineplus {
	padding-left:20px;
}

#color1 {
	color:#E53935;
}

#color2 {
	color:#2196F3;
}

.color2 {
	color:#2196F3;
	stroke:#2196F3 !important;
}

#color3 {
	color:#283593;
}

#color4 {
	color:#388E3C;
}

#color5 {
	color:#FDD835;
}

.colorpick {
	margin-bottom:20px;
	cursor:pointer;
}

#colorchoices {
	padding-bottom:20px;
}

.filterselect {
	border: 1px solid #ccc;
	border-radius:5px;
	padding:40px;
}

#filterchooser {
	display:none;
}

.deletechartbutton {
	float:none;
	padding-left:10px;
}

#addfilter {
	margin-left:20px;
}

/* filter editing */

#filtercontent {
	margin-left:0px;
	margin-right:0px;
}

/* headline figures edit */

.headlineselect {
	border: 1px solid #ccc;
	border-radius:5px;
	padding:40px;
}

#headlinechooser {
	display:none;
}

#dashboardlayout {
	padding:50px;
}

#headlinecontent {
	margin-left:0px;
	margin-right:0px;
}

.headlinefigureedit {
	border: 1px solid #ccc;
	margin:10px;
	cursor:pointer;
	padding:10px;
}

/* chart adding */

#dashcontent {
	margin-left:0px;
	margin-right:0px;
}

.chartedit {
	height:300px;
}

.chartedit p {
	min-height:50px;
}

.timeedit {
	height:300px;
}

.timeedit p {
	min-height:50px;
}

.mapedit p {
	min-height:50px;
}


.mappreview {
	width:100%;
	border: 1px solid #ccc;
}

.editchartbutton {
	z-index:10;
	padding-left:10px;
}

.bitetitle {
	display:inline-block;
	width:10%;
	vertical-align: top;
}

.bitetitletext{
	display:inline-block;
	width:90%;
	vertical-align: top;
	font-size:16px !important;
}

#chartcontent {
	padding-left:15px;
	padding-right:15px;
}

#timecontent {
	padding-left:15px;
	padding-right:15px;
}

#mapcontent {
	padding-left:15px;
	padding-right:15px;
}
/* saving */

#savecontent {
	margin-left:0px;
	margin-right:0px;
}

#savebutton {
	padding-bottom:20px;
}

#editprompt {
	font-weight:800;
	color:#ff0000;
}

.savetext {
	padding-top:10px;
}

#submitbutton {
	margin-top:10px;
}

.close {
	float:none;
}

.sizenone {
	color: #E65100;
	font-weight:800;
}

.sizesmall {
	color: #4CAF50;
	font-weight:800;
}

.sizemedium {
	color: #8BC34A;
	font-weight:800;
}

.sizelarge {
	color: #FBC02D;
	font-weight:800;
}

.sizevlarge {
	color: #FF8F00;
	font-weight:800;
}

#filterchooser {
	margin-bottom:15px;
}