{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
            <link rel="stylesheet" href="{% static 'css/dash.css' %}"> 
            <style id="colourstyle"></style>
            <div class="row">
                <div id="title" class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div id="description" class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div id="update" class="col-md-12">
            </div>
            </div>
            <div id="filter" class="row">
            </div>
            <div id="filterline" class="row">
            </div>
            <div id="headline" class="row">
            </div>             
            <div class="row">
                <div id="grid" class="col-md-12">
                </div>
            </div>
    </div>
    <div class="sp sp-circle"></div>
    <div class="footer container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Made with <a href="{% url 'index' %}">HXLDash</a> - Powered By <a href="http://hxlstandard.org/" target="_blank">#HXL</a></p>
                </div>
                <div class="col-md-6 right">
                    <p id="editlink"><a href="{% url 'edit' id %}" target="_blank">Edit</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

    <script>
        var config = {{ config|safe }};
        var gridURL = "{% static 'grid_data/gridxxx.html' %}";
        var iframe = {{ iframe|lower }};
    </script>
    <script src="{% static 'js/dash_render.js' %}"></script> 
    <script src="{% static 'js/dashview.js' %}"></script>
    
{% endblock %}