{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script> 
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" /> 
    <div class="row">
        <div id="datachooser" class="col-md-10 col-md-offset-1 center">
            <p>Please insert a URL of a HXL data source to load.</p>
            <div class="ui input fluid huge">
                <input id="dataurl" type="text" placeholder="URL...">
            </div>
            <button id="loaddata" class="ui right labeled icon button center">
                <i class="right arrow icon"></i>
                Load Data
            </button>
            <p id="frontinstructions">Datasource supported include Google Documents/Drive, Dropbox and HDX files</p>
            <p>Create an online sharable dashboard in less than 2 minutes. Watch the example video below to see how easy it is.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5ZmRjLfoS3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <script>
        var createURL = "{% url 'create' 'xxx' %}";
    </script>
    <script src="{% static 'js/datachooser.js' %}"></script> 
{% endblock %}