{% extends 'base/base.html' %}
{% load staticfiles %}
{% load cookielaw_tags %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script> 
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% cookielaw_banner %}
    <div class="content container dashcontent">  
        <div class="row">
            <div id="datachooser" class="col-md-6 col-md-offset-3 center">
                <p>This dashboard requires a password</p>
                <form action="{% url 'setpassword' page id %}" method="post" id="form1">{% csrf_token %}
                <div class="ui input fluid large">
                    <input id="viewpassword" name="viewpassword" type="password" placeholder="password...">
                </div>
                <button class="ui primary button large" type="submit" form="form1" value="Submit">Submit</button>
            </form>
            </div>
        </div>
    </div>
{% endblock %}