{% extends 'hxldash/info.html' %}
{% load staticfiles %}

{% block info %}
<div class="row">
	<div class="col-md-12">
		<h2>Countries supported for mapping</h2>
		<p>Below is a list of countries currently supported for mapping at admin levels 1,2 and 3. Please refer to <a href="https://humdata.org/">HDX</a> for Pcodes. If a country you want is not in the list or you want it's filesize reduced please contact us.</p>
		<p>Key:</p>
		<p class="sizesmall">Supported - Small file - Suitable for low bandwith connection</p>
		<p class="sizemedium">Supported - Medium file - Suitable for medium bandwitdh connection</p>
		<p class="sizelarge">Supported - Large file - Suitable for fast bandwitdh connection</p>
		<p class="sizevlarge">Supported - V. Large file - Suitable for fast bandwith connection</p>
		<p class="sizenone">Not supported at this admin level</p>
		<p>File sizes shown are for compressed .gz files supported by modern browsers.</p>
		<table class="table">
			<thead><th>Country</th><th>Admin 1</th><th>Admin 2</th><th>Admin 3</th></thead>
			<thead><th>#country+name</th><th>#adm1</th><th>#adm2</th><th>#adm3</th></thead>
			<tr><td>Angola</td><td class="sizesmall">Yes (23.0KB)</td><td class="sizesmall">Yes (48.0KB)</td><td class="sizesmall">Yes (93.0KB)</td></tr>
			<tr><td>Bangladesh</td><td class="sizemedium">Yes (101.0KB)</td><td class="sizemedium">Yes (162.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Benin</td><td class="sizesmall">Yes (5.0KB)</td><td class="sizesmall">Yes (12.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Bolivia, Plurinational State of</td><td class="sizesmall">Yes (25.0KB)</td><td class="sizesmall">Yes (55.0KB)</td><td class="sizesmall">Yes (85.0KB)</td></tr>
			<tr><td>Burkina Faso</td><td class="sizesmall">Yes (28.0KB)</td><td class="sizesmall">Yes (45.0KB)</td><td class="sizemedium">Yes (103.0KB)</td></tr>
			<tr><td>Burundi</td><td class="sizesmall">Yes (27.0KB)</td><td class="sizesmall">Yes (51.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Cambodia</td><td class="sizesmall">Yes (27.0KB)</td><td class="sizesmall">Yes (59.0KB)</td><td class="sizemedium">Yes (183.0KB)</td></tr>
			<tr><td>Cameroon</td><td class="sizesmall">Yes (17.0KB)</td><td class="sizesmall">Yes (31.0KB)</td><td class="sizesmall">Yes (66.0KB)</td></tr>
			<tr><td>Central African Republic</td><td class="sizesmall">Yes (18.0KB)</td><td class="sizesmall">Yes (41.0KB)</td><td class="sizesmall">Yes (63.0KB)</td></tr>
			<tr><td>Chad</td><td class="sizesmall">Yes (12.0KB)</td><td class="sizesmall">Yes (17.0KB)</td><td class="sizesmall">Yes (1.0KB)</td></tr>
			<tr><td>Colombia</td><td class="sizesmall">Yes (70.0KB)</td><td class="sizesmall">Yes (69.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Comoros</td><td class="sizesmall">Yes (17.0KB)</td><td class="sizesmall">Yes (19.0KB)</td><td class="sizesmall">Yes (22.0KB)</td></tr>
			<tr><td>Congo</td><td class="sizesmall">Yes (12.0KB)</td><td class="sizesmall">Yes (21.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Congo, the Democratic Republic of the</td><td class="sizesmall">Yes (37.0KB)</td><td class="sizesmall">Yes (78.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Cote d'Ivoire</td><td class="sizesmall">Yes (43.0KB)</td><td class="sizesmall">Yes (70.0KB)</td><td class="sizemedium">Yes (139.0KB)</td></tr>
			<tr><td>DRC Health Zones</td><td class="sizenone">No</td><td class="sizemedium">Yes (119.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Ecuador</td><td class="sizesmall">Yes (28.0KB)</td><td class="sizesmall">Yes (58.0KB)</td><td class="sizemedium">Yes (116.0KB)</td></tr>
			<tr><td>Egypt</td><td class="sizesmall">Yes (42.0KB)</td><td class="sizesmall">Yes (89.0KB)</td><td class="sizelarge">Yes (401.0KB)</td></tr>
			<tr><td>Ethiopia</td><td class="sizesmall">Yes (14.0KB)</td><td class="sizesmall">Yes (45.0KB)</td><td class="sizemedium">Yes (153.0KB)</td></tr>
			<tr><td>Georgia</td><td class="sizesmall">Yes (14.0KB)</td><td class="sizesmall">Yes (26.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Guatemala</td><td class="sizesmall">Yes (14.0KB)</td><td class="sizesmall">Yes (48.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Guinea</td><td class="sizesmall">Yes (15.0KB)</td><td class="sizesmall">Yes (21.0KB)</td><td class="sizesmall">Yes (50.0KB)</td></tr>
			<tr><td>Haiti</td><td class="sizesmall">Yes (27.0KB)</td><td class="sizesmall">Yes (58.0KB)</td><td class="sizemedium">Yes (110.0KB)</td></tr>
			<tr><td>Indonesia</td><td class="sizesmall">Yes (54.0KB)</td><td class="sizesmall">Yes (90.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Iran, Islamic Republic of</td><td class="sizesmall">Yes (38.0KB)</td><td class="sizemedium">Yes (109.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Iraq</td><td class="sizesmall">Yes (12.0KB)</td><td class="sizesmall">Yes (25.0KB)</td><td class="sizesmall">Yes (45.0KB)</td></tr>
			<tr><td>Kenya</td><td class="sizesmall">Yes (52.0KB)</td><td class="sizemedium">Yes (121.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Klanndestan (Imaginary Training country)</td><td class="sizesmall">Yes (11.0KB)</td><td class="sizesmall">Yes (18.0KB)</td><td class="sizesmall">Yes (21.0KB)</td></tr>
			<tr><td>Korea, Democratic People's Republic of</td><td class="sizesmall">Yes (16.0KB)</td><td class="sizesmall">Yes (31.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Kyrgyzstan</td><td class="sizesmall">Yes (30.0KB)</td><td class="sizesmall">Yes (54.0KB)</td><td class="sizemedium">Yes (198.0KB)</td></tr>
			<tr><td>Lao People's Democratic Republic</td><td class="sizesmall">Yes (22.0KB)</td><td class="sizesmall">Yes (45.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Lebanon</td><td class="sizesmall">Yes (29.0KB)</td><td class="sizesmall">Yes (46.0KB)</td><td class="sizelarge">Yes (299.0KB)</td></tr>
			<tr><td>Liberia</td><td class="sizesmall">Yes (13.0KB)</td><td class="sizesmall">Yes (31.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Libyan Arab Jamahiriya</td><td class="sizesmall">Yes (6.0KB)</td><td class="sizesmall">Yes (10.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Malawi</td><td class="sizesmall">Yes (24.0KB)</td><td class="sizesmall">Yes (44.0KB)</td><td class="sizemedium">Yes (110.0KB)</td></tr>
			<tr><td>Mali</td><td class="sizesmall">Yes (12.0KB)</td><td class="sizesmall">Yes (19.0KB)</td><td class="sizesmall">Yes (62.0KB)</td></tr>
			<tr><td>Mauritania</td><td class="sizesmall">Yes (8.0KB)</td><td class="sizesmall">Yes (11.0KB)</td><td class="sizesmall">Yes (24.0KB)</td></tr>
			<tr><td>Mozambique</td><td class="sizesmall">Yes (23.0KB)</td><td class="sizesmall">Yes (62.0KB)</td><td class="sizesmall">Yes (94.0KB)</td></tr>
			<tr><td>Myanmar</td><td class="sizesmall">Yes (72.0KB)</td><td class="sizesmall">Yes (100.0KB)</td><td class="sizemedium">Yes (155.0KB)</td></tr>
			<tr><td>Namibia</td><td class="sizesmall">Yes (21.0KB)</td><td class="sizesmall">Yes (40.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Nepal</td><td class="sizesmall">Yes (15.0KB)</td><td class="sizesmall">Yes (98.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Niger</td><td class="sizesmall">Yes (7.0KB)</td><td class="sizesmall">Yes (17.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Nigeria</td><td class="sizesmall">Yes (32.0KB)</td><td class="sizemedium">Yes (120.0KB)</td><td class="sizesmall">Yes (58.0KB)</td></tr>
			<tr><td>Pakistan</td><td class="sizesmall">Yes (15.0KB)</td><td class="sizesmall">Yes (50.0KB)</td><td class="sizesmall">Yes (97.0KB)</td></tr>
			<tr><td>Palestinian Territory, Occupied</td><td class="sizesmall">Yes (29.0KB)</td><td class="sizesmall">Yes (14.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Papua New Guinea</td><td class="sizesmall">Yes (55.0KB)</td><td class="sizesmall">Yes (62.0KB)</td><td class="sizesmall">Yes (78.0KB)</td></tr>
			<tr><td>Senegal</td><td class="sizesmall">Yes (14.0KB)</td><td class="sizesmall">Yes (22.0KB)</td><td class="sizesmall">Yes (30.0KB)</td></tr>
			<tr><td>Sierra Leone</td><td class="sizesmall">Yes (18.0KB)</td><td class="sizesmall">Yes (26.0KB)</td><td class="sizesmall">Yes (66.0KB)</td></tr>
			<tr><td>Somalia</td><td class="sizesmall">Yes (7.0KB)</td><td class="sizesmall">Yes (10.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>South Sudan</td><td class="sizesmall">Yes (17.0KB)</td><td class="sizesmall">Yes (24.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Sri Lanka</td><td class="sizesmall">Yes (21.0KB)</td><td class="sizesmall">Yes (26.0KB)</td><td class="sizesmall">Yes (66.0KB)</td></tr>
			<tr><td>Sudan</td><td class="sizesmall">Yes (18.0KB)</td><td class="sizesmall">Yes (39.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Syrian Arab Republic</td><td class="sizesmall">Yes (15.0KB)</td><td class="sizesmall">Yes (29.0KB)</td><td class="sizesmall">Yes (55.0KB)</td></tr>
			<tr><td>Thailand</td><td class="sizesmall">Yes (61.0KB)</td><td class="sizemedium">Yes (161.0KB)</td><td class="sizevlarge">Yes (511.0KB)</td></tr>
			<tr><td>Togo</td><td class="sizesmall">Yes (5.0KB)</td><td class="sizesmall">Yes (11.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Ukraine</td><td class="sizesmall">Yes (90.0KB)</td><td class="sizenone">No</td><td class="sizenone">No</td></tr>
			<tr><td>Vanuatu</td><td class="sizesmall">Yes (31.0KB)</td><td class="sizesmall">Yes (42.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Venezuela, Bolivarian Republic of</td><td class="sizesmall">Yes (51.0KB)</td><td class="sizemedium">Yes (126.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Viet Nam</td><td class="sizesmall">Yes (86.0KB)</td><td class="sizemedium">Yes (199.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Yemen</td><td class="sizesmall">Yes (35.0KB)</td><td class="sizesmall">Yes (91.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Zambia</td><td class="sizesmall">Yes (25.0KB)</td><td class="sizesmall">Yes (66.0KB)</td><td class="sizenone">No</td></tr>
			<tr><td>Zimbabwe</td><td class="sizesmall">Yes (31.0KB)</td><td class="sizesmall">Yes (67.0KB)</td><td class="sizenone">No</td></tr>
		<table>
	</div>
</div>
{% endblock %}