{% extends 'hxldash/info.html' %}
{% load staticfiles %}

{% block info %}
<div class="row">
	<div class="col-md-12">
		<h2>Countries supported for mapping</h2>
		<p>Below is a list of countries currently supported for mapping.  Please refer to <a href="https://humdata.org/">HDX</a> for Pcodes. More countries are planned to be added in the coming months.  If a country you want is not in the list please contact us and we will add it as soon as possible.</p>
		<ul>
			<li><p>Angolia</p></li>
			<li><p>Bangladesh</p></li>
			<li><p>Burkina Faso</p></li>
			<li><p>Burundi</p></li>
			<li><p>Cambodia</p></li>
			<li><p>Cameroon</p></li>
			<li><p>Central Africa Republic</p></li>
			<li><p>Chad</p></li>
			<li><p>Columbia</p></li>
			<li><p>Cote d'Ivoire</p></li>
			<li><p>Democratic Republic of Congo</p></li>
			<li><p>Egypt</p></li>
			<li><p>Guatemala</p></li>
			<li><p>Guinea</p></li>
			<li><p>Haiti</p></li>
			<li><p>Honduras</p></li>
			<li><p>Iraq</p></li>
			<li><p>Kenya</p></li>
			<li><p>Kurdistan</p></li>
			<li><p>Kyrgyzstan</p></li>
			<li><p>Lebanon</p></li>
			<li><p>Malawi</p></li>
			<li><p>Mali</p></li>
			<li><p>Mauritania</p></li>
			<li><p>Mozambique</p></li>
			<li><p>Myanmar</p></li>
			<li><p>Nepal</p></li>
			<li><p>Niger</p></li>
			<li><p>Nigeria</p></li>
			<li><p>Pakistan</p></li>
			<li><p>Palistine</p></li>	
			<li><p>Sierra Leone</p></li>
			<li><p>Somalia</p></li>
			<li><p>South Sudan</p></li>
			<li><p>Sudan</p></li>
			<li><p>Ukraine</p></li>
			<li><p>Vanuatu</p></li>
			<li><p>Venezuela</p></li>
			<li><p>Yemen</p></li>
			<li><p>Zimbabwe</p></li>
		</ul>
	</div>
</div>
{% endblock %}