{% load staticfiles %}
{% load cookielaw_tags %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>HXL Dash</title>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/loader.css' %}">
        <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}" rel="stylesheet" />
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
        <script src="{% static 'libs/d3.min.js' %}"></script>
        <script src="{% static 'libs/topojson.v1.min.js' %}"></script>
        <script src="{% static 'libs/hxlbites/hxl.js' %}"></script>
        <script src="{% static 'libs/hxlbites/hxlBites.js' %}"></script>
        <script src="{% static 'libs/hxlbites/hxlBitesChart.js' %}"></script>
        <script src="{% static 'libs/hxlbites/hxlBitesCrossTables.js' %}"></script>
        <script src="{% static 'libs/hxlbites/hxlBitesMap.js' %}"></script>
        <script src="{% static 'libs/hxlbites/hxlBitesRender.js' %}"></script>
        <script src="{% static 'libs/hxlbites/hxlBitesTable.js' %}"></script>
        <script src="{% static 'libs/hxlbites/hxlBitesText.js' %}"></script>
        <script src="{% static 'libs/hxlbites/hxlBitesTimeSeries.js' %}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <script src="https://rawgit.com/CodeYellowBV/chartist-plugin-legend/master/chartist-plugin-legend.js"></script>
        <script src="{% static 'libs/chartist-plugin-tooltip.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="https://rawgit.com/tmmdata/chartist-plugin-tooltip/master/src/css/chartist-plugin-tooltip.css" />
        <script src="{% static 'libs/TileLayer.Grayscale.js' %}"></script>
        <script src="{% static 'libs/topojson.v1.min.js' %}"></script>
        <script src="{% static 'cookielaw/js/cookielaw.js' %}" type="text/javascript"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141921856-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-141921856-1');
        </script>
    </head>
    <body>
        {% cookielaw_banner %}        
        <div class="content container dashcontent">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>